*{
    margin: 0;
    padding: 0;
}
ul,li{
   list-style: none;

}
a{
    text-decoration: none;
}
.containter{
    width: 1000px;
    height: auto;
    background: whitesmoke;
}
/* 这里可关注一下导航栏的设计*/
.header{
    width: 1000px;
    height: 60px;
    position: relative;
}
 .header_left{
    float: left;
     padding: 20px 40px;
}
.header_left img{
  width: 30px;
    height: 30px;
}
.header_left span{
    font-size: 20px;
    font-family: "黑体";
    font-weight: bold;
}
.header_right{
    position:  absolute;
    right: 40px;
    top: 20px;
}
.header_right ul{
    float: left;
}
.header_right .login img{
    width: 24px;
    height: 24px;
}
.header_right ul li{
    float: left;
    padding:10px;
}
.header_right li a{
    font-size: 14px;
    font-family: "微软宋体";
    color: #9d9d9d;
}
.header_right  a:hover{
    color: red;
}
.header_right .first a{
    color: red;
    padding-bottom: 20px;
    border-bottom: 3px solid red;
}
.header_right .login a{
    color: #ff0000;

}
.content_1{
    width: 100%;
    position: relative;
}
.content_1 img{
    width: 1000px;
    height: auto;
}

.content_1 .text{
   position: absolute;
    left: 100px;
    top:350px;
}
.content_1 h1{
    font-size: 60px;
    color: #f0f0f0;
}
.text p{
    font-size: 24px;
    color: #f0f0f0;
    padding-bottom: 40px;
}
/* 文字水平垂直居中问题*/
.text .button{
    width: 300px;
    height: 70px;
    background: #ff0000;
    margin-top: 40px;
    text-align: center;
    vertical-align:middle;
    display:table-cell;
}
 .button a{
     padding-top: 20px;
    color: #f0f0f0;
    font-size: 26px;
}

.content_2{
    width: 1000px;
    position: relative;
    margin-top: 20px;
}
.content_2 .title{
    width:25%;
    padding: 40px;
    float: left;
}
.title img{
    padding: 30px;
    text-align: center;
    margin-left: 30px;
}
 .title .text3{
     font-size: 14px;
     color:#9d9d9d ;
     text-align: center;
     font-family: "宋体";
     border-right: 2px solid #9d9d9d;

 }
.title .text4{
    font-size: 14px;
    color:#9d9d9d ;
    text-align: center;
    font-family: "宋体";
}
.content_3{
  width: 1000px;
    height: 300px;
    position: relative;
    background: #d0d0d0;
    top:-20px;
}
.content_3 img{
    position: absolute;
    top:80px;
    left: 50%;
}
.content_3 h1{
    font-size:40px;
    font-weight: bold;
    color:grey;
}
.content_4{
    width: 1000px;
    height: 340px;
    margin-top: -20px;
    position: relative;
}
/* 给背景图加透明度*/
.content_4 .content_4_red{
    width: 1000px;
    height: 340px;
    background: palevioletred;
    opacity: 0.2;
    filter: alpha(opacity=20);
    position: absolute;
    top: 0;
    left: 0;
}
/*这一部分还差输入框没设置好*/
.content_4 img{
    width: 1000px;
    height: 340px;
}
.content_4 .text5{
    font-size: 24px;
    color: #f0f0f0;
    position: absolute;
    top: 40px;
    left: 35%;
    padding-bottom: 10px;

}
.content_4 .text5 span{
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
}
.content_4 .text6{
    font-size: 12px;
    color: #f0f0f0;
    position: absolute;
    top: 100px;
    left: 30%;
}
.input_4 ul{
    position: absolute;
    top:50%;
    left: 8%;
}
.input_4 ul li{
    float: left;
    padding-right: 20px;
}
.input{
    width: 200px;
    height: 35px;
    border: 2px salmon;
    color: #9d9d9d;
}
.search{
    background: #cc3333;
    text-align: center;
}
.content_5{
    width: 1000px;
    height: auto;
    margin-top: 50px;
}
.content_5 .activity{
    float: left;
    width: 20%;
    margin: 20px ;
    padding-left: 20px;
}
.activity .activity_text1{
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    color: #2f3038;
}
.activity .activity_text2{
    text-align: center;
    font-size: 10px;
    color: #9d9d9d;
}
.activity .activity_text3{
    font-size: 22px;
    text-align: left;
    color: #2f3038;
    font-weight: bold;
}
.activity .activity_text3 span{
    padding-right: 25px;
}
.content_6{
    width: 1000px;
    position: relative;
}
.content_6 .left{
    width: 60%;
    float: left;
    margin-right: 20px;
}
.content_6 .left img{
    width:100%;
    padding-top: 40px;
}
.content_6 .left h2{
    font-size: 40px;
    color: #f0f0f0;
    position: relative;
    bottom:380px;
    left: 40%;
}
.content_6 .left h1{
    font-size: 100px;
    color: #f0f0f0;
    position: relative;
    bottom:380px;
    left: 30%;
}
.content_6 .left p{
    font-size:26px;
    color: #f0f0f0;
    position: relative;
    bottom:380px;
    left:40%;
}
.content_6 .right{
    width: 30%;
    float: right;
    position: relative;
    top: 100px;
}
.content_6 .right h3{
    color: #101213;
    font-weight: bold;
    text-align: center;
}
.content_6 .right h3 span{
    color: red;
}
.content_6 .right p{
    color: #d0d0d0 ;
    font-size: 12px;
    line-height: 2;

}
 .triangle {
    position: absolute;
    left: 300px;
    top: 246px;
    width: 0;
    height: 0;
    border-left: 30px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 20;
    cursor: pointer;

}
.content_6 .right input{
    width: 120px;
    height: 40px;
    border: 2px solid #cc3333;
    text-align: center;
    color:#cc3333 ;
    margin-left: 80px;
   margin-top: 30px;
    background: #f0f0f0;
}
.content_6 .right h2{
    font-size: 35px;
    color:  #d0d0d0;
    text-align: center;
}
/* 设计更多详情下面的4个圈圈 display: inline-block;为什么就变成一行了呢*/
#page-tab {
    position: absolute;
    left: 30%;
    bottom: -45px;
    width: 34%;
    text-align: center;
}
#page-tab li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 7px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #929292;
    cursor: pointer;
}
#page-tab .active,
#page-tab li:hover
{
    background-color: #929292;
}
.content_7{
    width: 1000px;
    height: 500px;
    position: relative;
}
.content_7 .left{
    width: 30%;
    height: 500px;
    background:#cc3333;
    position: relative;
    top:858px


}
.content_7 .right img{
    float: right;
    width: 40%;
    height: 500px;
    position: relative;
    top: -300px;
}
.content_7 .left p{
    color: #f0f0f0;
    font-size:22px;
    text-align: center;
    position: absolute;
    top:25%;
    left: 15%;

}
.content_7 .left span{
    padding-bottom: 20px;
    border-bottom: 2px solid #f0f0f0;
}
.content_7 .left a{
    width: 180px;
    height: 40px;
    color: #f0f0f0;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    border: 1px solid red;
    position: absolute;
    top: 240px;
    left: 17%;
}
.content_7 .center{
    width: 30%;
    height: 500px;
    position: absolute;
    top:858px;
    left:300px;

}
.content_7 .center p {
    color: #101213;
    font-size:22px;
    text-align: center;
    position: absolute;
    top:25%;
    left: 15%;
}
.content_7 .center span{
    padding-bottom: 20px;
    border-bottom: 2px solid #d0d0d0;
}
.content_7 .center a{
    width: 180px;
    height: 40px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    border: 1px solid red;
    position: absolute;
    top: 240px;
    left: 17%;
}
.content_8{
    width: 1000px;
    position: absolute;
    height: 750px;
    top:2900px;
    left: 0;
}
.content_8 h2{
    color: #101213;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.content_8 h2 span{
    padding-bottom:5px;
    border-bottom: 2px solid red;
}
.content_8 p{
    padding-top: 5px;
    text-align: center;
    color: #d0d0d0;
    font-size: 12px;
}
.content_9{
    width: 1000px;
    position: relative;
}
.content_9 .left{
    float: left;
    width: 30%;
    margin: 20px 10px 20px 40px;
    position: relative;
   top: 450px;
}
.content_9 .left h3{
    font-size: 14px;
    color: #101213;
    font-weight: bold;
}
.content_9 .left p{
    font-size: 12px;
    color: #d0d0d0;
}
.content_9 .left ul li{
    padding: 0 20px;
}
.content_9 .left span{
    float: right;
    color: #d0d0d0;
    font-size: 10px;
}
.content_9 .right{
    width:60%;
   float: right;
    position: relative;
    left: 400px;
    top: 200px;
}
.content_9 .right table{
    width: 600px;
    background: white;
}
.content_9 .right td {
    width: 250px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    background: #d0d0d0;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
}
.content_9 .right tr{
    padding: 10px;

}
.content_9 .right .textarea{
    width: 570px;
    height: 100px;
    background: #d0d0d0;
    margin-bottom: 10px;
}
.content_9 .right  textarea{
    width: 570px;
    height: 100px;
   margin-left: 20px;
    background: #d0d0d0;
    border: none;
}
.content_9 .right .submit{
    width: 590px;
    height: 50px;
    background: #d0d0d0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-top: 20px;


}
.content_9 .right  a{
 color: #101213;

}
.content_10{
    width: 1000px;
    position: relative;
    height: 300px;
    background: #122b40;
    top: 1500px;
}
.content_10 h2{
     font-size: 20px;
     color: #f0f0f0;
     position: relative;
     left: -150px;
     padding-top: 50px;
 }
.content_10 span{
    font-size: 10px;
    color: #f0f0f0;
    position: absolute;
    top:75px;
    left: 30%;
    text-align: center;
    padding-top: 10px;
}
.content_10 .input{
    width: 300px;
    height: 30px;
    position: absolute;
    top:135px;
    left: 30%;
}
.content_10 .submit{
    width: 70px;
    height: 30px;
    position: absolute;
    top:135px;
    left: 60%;
    background: gray;
}

.content_10 .share img{
    width: 16px;
    height: 16px;
}
/*
.content_10 .share{
    display: inline-block;
    margin:0 10px;
    position: relative;
    left: -220px;
}
*/
/* 两个地方都要加上 display: inline-block;，否则不行，为什么*/
.content_10 .share  {
    display: inline-block;
   padding-right: 100px;
    position: relative;
    left: -220px;


}
.content_10 .share ul li {
    display: inline-block;
    padding-right: 20px;

}

footer{
    width: 1000px;
    height: 50px;
    background: black;
    position: relative;
    top: 1500px;
}
footer .footer_left{
    font-size: 12px;
    color: #f0f0f0;
    float: left;
    position: absolute;
   top: 20px;
    left: 50px;

}
footer .footer_right a{
    font-size: 12px;
    color: #f0f0f0;
    float: right;
    position: absolute;
    top: 20px;
   right: 50px;
}

